body, html {
  /* overflow: hidden; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Google Sans', sans-serif;
  font-size: 20px;
  line-height: 1.7;

}

body::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  position: fixed; /* Position scrollbar relative to the viewport */
  right: 1; /* Position scrollbar at the right edge */
}
  
body::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}
  
body::-webkit-scrollbar-track {
    background: transparent; /* Make scrollbar track transparent */
  }
  
body::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.home-content {
  margin-top: 70px;
  padding: 40px;
}


.header {
  height: 30px;
  background-color:white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}


.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li:not(.boxed-link) {
  margin-right: 20px; /* Adjust margin for non-boxed links */
}

.navigation ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.boxed-link {
  margin-right: 50px; /* Adjust margin for boxed link */
}

.boxed-link div {
  background-color: #ffc107;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.boxed-link:hover div {
  background-color: #e0a800;
}


h1 {
  text-align: center;
}

.home-content::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  position: fixed; /* Position scrollbar relative to the viewport */
  right: 1; /* Position scrollbar at the right edge */
}
  
.home-content::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}
  
.home-content::-webkit-scrollbar-track {
    background: transparent; /* Make scrollbar track transparent */
  }
  
.home-content::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
  }
  
.home-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

strong {
  font-weight: 500;
}


.not-logged-in{
  text-align: center; 
  font-size: 70px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.history_svg {
  margin-bottom: -3.5px;
  color: #007bff;
}

/* .container {
    padding: 40px;
} */

#text-container a {
    text-decoration: none;
    color: #007bff;
  }
  
#text-container a:hover {
    text-decoration: underline;
}

#text-container strong {
  color: #007bff;
}

form {
    position: relative;
    height: 100%;
}
  
textarea {
    width: 100%;
    height: 100vh;/* Set height to 100% of viewport height */
    border: none;
    outline: none;
    resize: none;
    font-family: 'Google Sans', sans-serif;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
    margin-right: -20px; /* Adjust for potential margin */
    /* overflow: hidden; */
}

  
textarea::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
  position: fixed; /* Position scrollbar relative to the viewport */
  right: 1; /* Position scrollbar at the right edge */
}

textarea::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

textarea::-webkit-scrollbar-track {
  background: transparent; /* Make scrollbar track transparent */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

textarea::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

  

  
  
#emphasize-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Google Sans', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue color, you can change it as needed */
    color: #fff; /* White text color */
    border: none;
    cursor: pointer;
    border-radius: 20px; /* Adjust the value to control the curvature */
}
  
#emphasize-button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.scroll-container {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin; /* For Firefox */
}

.scroll-container::-webkit-scrollbar {
width: 8px; /* Set the width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-track {
  background: transparent; /* Set the background color of the track */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
  border-radius: 4px; /* Set the border radius of the thumb */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set the color of the thumb on hover */
}

.container {
  display: inline-block;
}

.square-box {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #007bff;
  display: inline-block;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s; /* Smooth transition */
}

.square-box:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}

.box-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.box-content {
  color: #fff;
  font-size: 16px;
  padding: 10px;
  overflow: hidden; /* Hide any content that overflows the box */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate overflow */
  white-space: nowrap; /* Prevent text from wrapping */
}

.edit-link {
  position: absolute;
  bottom: 10px;
  right: 18px;
}

.edit-link-svg {
  background-color: rgba(255, 255, 255, 0.925);
  fill: #007bff;
  border-radius: 50px;
  padding: 6px;
}

.delete-link {
  position: absolute;
  bottom: 10px;
  left: 18px;
  color: #fff;
  opacity: 0; /* Initially hide the edit link */
  transition: opacity 0.3s; /* Smooth transition for opacity */
}

.container:hover .delete-link {
  opacity: 1; /* Show the edit link on hover */
}
.delete-link-svg {
  background-color: rgba(255, 255, 255, 0.925);
  fill: red;
  border-radius: 50px;
  padding: 6px;
}

.settings-head {
  text-align: center;
  font-size: 32px;
  margin-top: 170px;
}



.name {
  font-size: 50px;
}

.name-color {
  color: #007bff;
  text-transform: capitalize;
}


/* form-styling */

.my-form {
  max-width: 400px; /* Set maximum width of the form */
  margin: 0 auto; /* Center the form horizontally */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    height: 42px;
    width: 100%; /* Make text inputs fill the width of their container */
    padding: 10px; /* Add padding */
    margin-bottom: 20px; /* Add spacing below inputs */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #f2f2f2; /* Background color */
    color: #555; /* Text color */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    font-size: 18px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: #999; /* Placeholder color */
}

#submit-button {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 12px 20px; /* Add padding */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Button font size */
  width: 100%;
}


#submit-button:hover {
  background-color: #0056b3; /* Darker blue background color on hover */
}


#delete-submit-button {
  background-color: red; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 12px 20px; /* Add padding */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Button font size */
}


#delete-submit-button:hover {
  background-color: darkred; /* Darker blue background color on hover */
}

.no-history-box {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #f4f4f4;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
  transition: background-color 0.3s; /* Smooth transition */
}

.no-history-box-content {
  color: #333;
  font-size: 20px;
  font-family: 'Google Sans', sans-serif;
}

.help-text {
  font-size: 12px; /* Adjust the font size as needed */
}

.emphasize-page {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}



.auth-links {
  align-items: center;
  display: flex;
  justify-content: center;
}

.auth-box {
  background-color: #007bff;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  margin-left: 10px; /* Add margin between the boxes */
  size: 50px;
  text-decoration: none; /* Remove underlines from links */
}

.auth-box:hover {
  background-color: #0056b3;
}

.auth-box .auth-content {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.auth-box:hover .auth-content {
  color: #fff; /* Change text color on hover */
}


.gsi-material-button {
  /* -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none; */
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  margin: 0 auto; /* Center align */
  /* margin-top: 50px; */
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state, 
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

/* Divider styles */
.or-divider {
  text-align: center;
  margin-top: 20px; /* Adjust as needed */
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.divider-line {
  display: inline-block;
  width: 50px; /* Adjust length of the divider */
  border-top: 2px solid #ccc; /* Divider color */
  margin: 0 5px; /* Adjust spacing */
  vertical-align: middle; /* Align vertically with the text */
}

.or-divider span {
  display: inline-block;
  background-color: #fff;
  color: #555;
}

.logout-links {
  align-items: center;
  display: flex;
  position: fixed;
  top: 50px;
  right: 50px;
}

.logout-box {
  background-color: red;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  margin-left: 10px; /* Add margin between the boxes */
  size: 50px;
  text-decoration: none; /* Remove underlines from links */
}

.logout-box:hover {
  background-color: darkred;
}

.logout-box .logout-content {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.logout-box:hover .logout-content {
  color: #fff; /* Change text color on hover */
}


.backhome-link {
  align-items: center;
  display: flex;
  position: fixed;
  top: 50px;
  left: 50px;
}

.backhome-box {
  background-color: #007bff;
  width: 100px;
  padding: 8px;
  border-radius: 4px;
  margin-left: 10px; /* Add margin between the boxes */
  size: 50px;
  text-decoration: none; /* Remove underlines from links */
}

.backhome-box:hover {
  background-color: #0056b3;
}

.backhome-box .backhome-content {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.backhome-box:hover .backhome-content {
  color: #fff; /* Change text color on hover */
}



.error-box {
  text-align: center;
  background-color: #ffe6e6; /* Light red background */
  color: #ff3333; /* Dark red text color */
  border: 1px solid #ff3333; /* Dark red border */
  padding: 10px; /* Padding around the content */
  margin: 10px 0; /* Margin to separate from other elements */
  border-radius: 5px; /* Rounded corners */
}

#error-home-button {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 12px 20px; /* Add padding */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 16px; /* Button font size */
}


#error-home-button:hover {
  background-color: #0056b3; /* Darker blue background color on hover */
}

@media only screen and (min-width: 400px) and (max-width: 543px) {
  .not-logged-in{
    font-size: 27px;
  }

  .auth-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .auth-box {
    background-color: #007bff;
    width: 70px;
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px; /* Add margin between the boxes */
    size: 50px;
    text-decoration: none; /* Remove underlines from links */
  }

  .home-content {
    margin-top: 120px;
    padding: 20px;
  }

  .header {
    height: 16px;
  }

  .navigation ul li a {
    font-size: 13px;
  }
  
  .logo {
    font-size: 19px;
  }

  .emphasize-page {
    padding: 60px;
  }

  .container {
    font-size: 16px;
  }

}

@media only screen and (min-width: 375px) and (max-width: 399px) {
  .not-logged-in{
    font-size: 23px;
  }

  .auth-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .auth-box {
    background-color: #007bff;
    width: 70px;
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px; /* Add margin between the boxes */
    size: 50px;
    text-decoration: none; /* Remove underlines from links */
  }

  .home-content {
    margin-top: 120px;
    padding: 20px;
  }

  .header {
    height: 16px;
  }

  .navigation ul li a {
    font-size: 13px;
  }
  
  .logo {
    font-size: 19px;
  }

  .emphasize-page {
    padding: 40px;
  }

  .container {
    font-size: 16px;
  }
}

@media only screen and (max-width: 374px) {
  .not-logged-in{
    font-size: 23px;
  }

  .auth-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .auth-box {
    background-color: #007bff;
    width: 60px;
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px; /* Add margin between the boxes */
    size: 50px;
    text-decoration: none; /* Remove underlines from links */
  }

  .auth-box .auth-content {
    font-size: 12px;
  }

  .home-content {
    margin-top: 120px;
    padding: 0;
    padding-top: 20px;
  }

  .header {
    height: 16px;
  }

  .navigation ul li a {
    font-size: 11px;
  }
  
  .logo {
    font-size: 17px;
  }

  .emphasize-page {
    padding: 30px;
  }

  .container {
    font-size: 16px;
  }
}

@media only screen and (min-width: 669px) and (max-width: 945px) {
  .not-logged-in{
    font-size: 50px;
  }

  .auth-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .auth-box {
    background-color: #007bff;
    width: 70px;
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px; /* Add margin between the boxes */
    size: 50px;
    text-decoration: none; /* Remove underlines from links */
  }

  .home-content {
    margin-top: 120px;
    padding: 20px;
  }
}

@media only screen and (min-width: 544px) and (max-width: 668px) {
  .not-logged-in{
    font-size: 40px;
  }
  
  .auth-links {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .auth-box {
    background-color: #007bff;
    width: 70px;
    padding: 6px;
    border-radius: 4px;
    margin-left: 10px; /* Add margin between the boxes */
    size: 50px;
    text-decoration: none; /* Remove underlines from links */
  }

  .home-content {
    margin-top: 120px;
    padding: 20px;
  }

  .emphasize-page {
    padding: 63px;
  }

  .container {
    font-size: 16px;
  }
}